* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Georgia-Italic';
  src: url('../Georgia-Italic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------- HEADER ---------------------------- */

.header {
    float: left;
    width: 100%;
    height: 516px;
    background: url(../img/header_background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.logo {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 152px;
    height: 39px;
    background-image: url(../img/pingbuller_logo.png);
    background-repeat: no-repeat;
}
.slider {
    margin: 0 auto;
    height: 100%;
}
.slider__block {
    position: absolute;
    margin: 0 auto;
    margin-top: 113px;
    margin-left: 65px;
    width: 205px;
    z-index: 1;
}
.slider__bigtext {
    display: block;
    width: 206px;
    height: 43px;
    color: #fefefe;
    font: 36px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    font-weight: 100;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: -0.1px;
    overflow: hidden;
}
.slider__minitext {
    display: block;
    width: 206px;
    height: 22px;
    margin-top: -2px;
    color: #edbfff;
    font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.03px;
    overflow: hidden;
}
.leftarrow {
    display: block;
    position: absolute;
    margin-top: 126px;
    margin-left: -4px;
    z-index: 1;
}
.rightarrow {
    display: block;
    position: absolute;
    margin-top: 126px;
    margin-left: 293px;
    z-index: 1;
}
.selectpoint {
    position: absolute;
    width: 84px;
    height: 17px;
    margin-top: 251px;
    margin-left: 123px;
    z-index: 1;
}
.point {
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url(../img/sprite_selectpoint.png) 0 0 no-repeat;
}
.point:hover {
    background-position: 0px -18px;
}

/* --------------------------- ABOUT-SECTION ----------------------------- */

.about-section{
    position: relative;
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 598px;
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #34263b;
    border-bottom: 1px solid #21333b;
    overflow: hidden;
}
.about--key{
    margin-top: 70px;
    margin-left: 30px;
}
.about__block1{
    margin-top: 24px;
}
.about__block2{
    margin-top: 24px;
}
.about__block3{
    margin-top: 40px;
    margin-left: 0px;
}
.about__sprite1{
    display: block;
    margin-top: 4px;
    float: left;
    width: 30px;
    height: 31px;
    background: url(../img/sprite_key.png) 0 0 no-repeat;
}
.about__sprite1:hover{
    background-position: -31px;
}
.news__key2{
    display: block;
    margin-top: 4px;
    float: left;
    width: 30px;
    height: 31px;
    background: url(../img/sprite_key.png) 0 0 no-repeat;
}
.news__key2:hover{
    background-position: -31px;
}
.news__key3{
    display: block;
    margin-top: 4px;
    float: left;
    width: 30px;
    height: 31px;
    background: url(../img/sprite_key.png) 0 0 no-repeat;
}
.news__key3:hover{
    background-position: -31px;
}

.about__title{
    display: block;
    margin-left: 52px;
    margin-top: -3px;
    width: 173px;
    height: 24px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
}
.about__text{
    display: block;
    margin-top: 6px;
    margin-left: 53px;
    width: 202px;
    height: 75px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 300;
    line-height: 24.5px;
    letter-spacing: -0.08px;
    overflow: hidden;
}
.about__link{
    display: block;
    margin-top: 11px;
    margin-left: 209px;
    text-decoration: none;
    width: 60px;
    height: 20px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    letter-spacing: -0.1px;
}
.about__link2{
    display: block;
    margin-top: 11px;
    margin-left: 209px;
    text-decoration: none;
    width: 60px;
    height: 20px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    letter-spacing: -0.1px;
}
.about__link3{
    display: block;
    margin-top: 11px;
    margin-left: 209px;
    text-decoration: none;
    width: 60px;
    height: 20px;
    text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    letter-spacing: -0.1px;
}
.about__link:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.about__link2:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.about__link3:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

/* --------------------------- CONTENT ---------------------------- */

.content {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 786px;
    background-color: #f9f9f9;
    background-position: top center;
    background-repeat: no-repeat;
    border-top: 1px solid #12191f;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: inset 0px 5px 16px -5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.content__block {
    margin-top: 68px;
    margin-left: 17px;
    width: 300px;
    height: 285px;
}
.content__block__photo {
    float: left;
    margin-top: 1px;
    margin-left: 2px;
    width: 49px;
    height: 49px;
    background: url(../img/photo.png);
    margin-top: 18px;
    z-index: 2;
}
.content__block__box {
    margin-top: 0px;
    margin-left: 28px;
    width: 256px;
    height: 272px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.content__block__box__name {
    display: block;
    height: 24px;
    padding-top: 22px;
    margin-left: 34px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
}
.content__block__box__secondname {
    display: block;
    height: 24px;
    margin-top: 0px;
    margin-left: 35px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #edbfff;
    font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    text-transform: uppercase;
}
.content__block__box__text {
    display: block;
    margin-top: 7px;
    margin-left: 38px;
    width: 180px;
    height: 170px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.09px;
    overflow: hidden;
}
.select {
    margin-top: 10px;
    margin-left: 139px;
    width: 100px;
    height: 19px;
}
.select_point {
    display: inline-block;
    margin-right: -1px;
    width: 19px;
    height: 20px;
    background: url(../img/sprite_point.png) 0 0 no-repeat;
}
.select_point:hover {
    background-position: 0 -21px;
}
/* -------------------------- URDATES ----------------------- */
.updates {
    margin-top: 44px;
    margin-left: 19px;
}
.updates__name {
    display: block;
    width: 140px;
    height: 35px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    font-weight: 400;
    overflow: hidden;
}
.updates__item {
    margin-top: 15px;
    margin-left: 1px;
    width: 280px;
    height: 50px;
}
.updates__item__last {
    margin-top: 21px;
    margin-left: 1px;
    width: 280px;
    height: 50px;
}
.updates__item__link1 {
    float: left;
    margin-top: -1px;
    margin-right: 17px;
    width: 49px;
    height: 49px;
    background: url(../img/update_icon1.png) 0 0 no-repeat;
}
.updates__item__link2 {
    float: left;
    margin-top: -1px;
    margin-right: 17px;
    width: 49px;
    height: 49px;
    background: url(../img/update_icon2.png) 0 0 no-repeat;
}
.updates__item__link3 {
    float: left;
    margin-top: -1px;
    margin-right: 17px;
    width: 49px;
    height: 49px;
    background: url(../img/update_icon3.png) 0 0 no-repeat;
}
.updates__item__name {
    display: block;
    width: 162px;
    height: 23px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
    overflow: hidden;
}
.updates__item__text {
    display: block;
    width: 213px;
    height: 23px;
    margin-top: 1px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
    letter-spacing: -0.36px;
    overflow: hidden;
}
.updates__more {
    display: block;
    margin-top: 12px;
    margin-left: 187px;
    text-decoration: none;
    width: 90px;
    height: 20px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.updates__more:hover {
    text-shadow: 0 0 8px rgba(237,191,255,0.8);
}
.updates__more1:hover {
    text-shadow: 0 0 8px rgba(237,191,255,0.8);
}
.updates__more1 {
    display: none;
}

/* -------------------------- SPONSORS LOGOS ----------------------- */

.sponsors{
    margin: 0 auto;
    float: left;
    width: 100%;
    height: 422px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.logos {
    margin: 0 auto;
    width: 100%;
    height: 422px;
}
.logo1 {
    display: block;
    float: left;
    margin-top: 52px;
    margin-left: 61px;
    margin-right: 28px;
    width: 69px;
    height: 64px;
    background: url(../img/logo1.png) 0 0 no-repeat;
}
.logo2 {
    display: block;
    float: left;
    margin-top: 52px;
    margin-left: 27px;
    width: 72px;
    height: 64px;
    background: url(../img/logo2.png) 0 0 no-repeat;
}
.logo3 {
    display: block;
    float: left;
    margin-top: 61px;
    margin-right: 15px;
    margin-left: 69px;
    width: 65px;
    height: 65px;
    background: url(../img/logo3.png) 0 0 no-repeat;
}
.logo4 {
    display: block;
    float: left;
    margin-top: 61px;
    margin-right: 18px;
    margin-left: 34px;
    width: 66px;
    height: 65px;
    background: url(../img/logo4.png) 0 0 no-repeat;
}
.logo5 {
    display: block;
    float: left;
    margin-top: 43px;
    margin-right: 23px;
    margin-left: 41px;
    width: 105px;
    height: 61px;
    background: url(../img/logo5.png) 0 0 no-repeat;
}
.logo6 {
    display: block;
    float: left;
    margin-top: 43px;
    margin-right: 17px;
    margin-left: 18px;
    width: 90px;
    height: 61px;
    background: url(../img/logo6.png) 0 0 no-repeat;
}

/* ----------------- FOOTER ---------------- */

footer {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 201px;
    background: url(../img/footer_background.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: inset 0px 5px 16px -5px rgba(0, 0, 0, 0.5);
}
.copyrights {
    display: inline-block;
    margin-top: 39px;
    margin-left: 89px;
    width: 140px;
    height: 20px;
    text-align: center;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font: 12px 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 300;
    text-decoration: none;
}
.copyrights span{
    margin-top: 1px;
    margin-left: 1px;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font: 12px 'Open Sans', Arial, Tahoma, sans-serif;
    font-weight: 700;
}
@media (min-width: 320px) and (max-width: 479px) {
    .wrapper {
        margin: 0 auto;
        max-width: 320px;
    }
    .iphone {
        display: none;
    }
    .Home {
        margin: 0 auto;
        margin-top: 23px;
        width: 105px;
        border-radius: 8px;
        transition: all 0.2s ease;
        transition-delay: 0.05s;
    }
    .home__topmenu{
        display: none;
        transition: all 0.2s ease;
        transition-delay: 0.05s;
    }
    .Home:hover > .home__topmenu {
        display: block;
    }
    .home:hover {
        position: relative;
        margin: 0 auto;
        margin-top: 22px;
        width: 244px;
        height: 257px;
        background-color: rgba(54, 41, 62, 0.9);
        border: 1px solid #051116;
        border-radius: 8px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .home__button {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 2px;
        margin-bottom: 4px;
        width: 47px;
        border-bottom: 2px solid #edbfff;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    .home__topmenu__item {
        text-align: center;
        list-style-type: none;
        border-top: 1px solid #523f5a;
        border-bottom: 1px solid #36283e;
    }
    .home__topmenu__item:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .home__topmenu__link {
        display: block;
        padding-top: 4px;
        padding-bottom: 7px;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .home__topmenu__link:hover {
        display: block;
        padding-top: 4px;
        padding-bottom: 5px;
        border-bottom: 2px solid #edbfff;
    }
    .home__topmenu__itemlast {
        text-align: center;
        list-style-type: none;
        border-top: 1px solid #523f5a;
    }
    .home__topmenu__itemlast:hover {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0px 0px 8px 8px;
    }
    .home__topmenu__linklast {
        display: block;
        padding-top: 4px;
        padding-bottom: 7px;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .home__topmenu__linklast:hover {
        border-bottom: 2px solid #edbfff;
        border-radius: 0px 0px 8px 8px;
    }
    .text {
        display: none;
    }
    .prefooter {
        display: none;
    }
    .footerlist {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        margin: 0 auto;
        max-width: 480px;
    }

    /*-------------------- HEADER -----------------------*/

    .header {
        height: 548px;
        background: url(../img/header_background.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .shadow {
        position: absolute;
        margin-top: 203px;
        width: 100%;
        height: 246px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 0;
    }
    .Home {
        margin: 0 auto;
        margin-top: 23px;
        width: 105px;
        border-radius: 8px;
        transition: all 0.2s ease;
        transition-delay: 0.05s;
    }
    .home__topmenu{
        display: none;
        transition: all 0.2s ease;
        transition-delay: 0.05s;
    }
    .Home:hover > .home__topmenu {
        display: block;
    }
    .Home:hover {
        position: relative;
        margin: 0 auto;
        margin-top: 22px;
        width: 244px;
        height: 257px;
        background-color: rgba(54, 41, 62, 0.9);
        border: 1px solid #051116;
        border-radius: 8px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .home__button {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 2px;
        margin-bottom: 4px;
        width: 47px;
        border-bottom: 2px solid #edbfff;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    .home__topmenu__item {
        text-align: center;
        list-style-type: none;
        border-top: 1px solid #523f5a;
        border-bottom: 1px solid #36283e;
    }
    .home__topmenu__item:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .home__topmenu__link {
        display: block;
        padding-top: 4px;
        padding-bottom: 7px;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .home__topmenu__link:hover {
        display: block;
        padding-top: 4px;
        padding-bottom: 5px;
        border-bottom: 2px solid #edbfff;
    }
    .home__topmenu__itemlast {
        text-align: center;
        list-style-type: none;
        border-top: 1px solid #523f5a;
    }
    .home__topmenu__itemlast:hover {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 0px 0px 8px 8px;
    }
    .home__topmenu__linklast {
        display: block;
        padding-top: 4px;
        padding-bottom: 7px;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .home__topmenu__linklast:hover {
        border-bottom: 2px solid #edbfff;
        border-radius: 0px 0px 8px 8px;
    }
    .slider__block {
        float: left;
        margin-top: 113px;
        margin-left: 40px;
        width: 205px;
        z-index: 1;
        overflow: hidden;
    }
    .text {
        display: none;
    }
    .iphone {
        position: absolute;
        float: left;
        display: block;
        width: 192px;
        height: 304px;
        margin-left: 257px;
        margin-top: 15px;
        background: url(../img/Phone480.png) 0 0 no-repeat;
        z-index: 1;
        overflow: hidden;
    }
    .rightarrow {
        margin-left: 454px;
        overflow: hidden;
    }
    .selectpoint {
        margin-top: 292px;
        margin-left: 203px;
    }

    /*-------------------- ABOUT-SECTION ----------------------*/

    .about-section{
        height: 596px;
    }
    .about--key{
        margin-top: 77px;
        margin-left: 31px;
    }
    .about__block3{
        margin-top: 28px;
        margin-left: 0px;
    }
    .about__text{
        width: 375px;
        height: 75px;
        overflow: hidden;
    }
    .about__link{
        margin-top: 11px;
        margin-left: 367px;
    }
    .about__link2{
        margin-top: 11px;
        margin-left: 367px;
    }
    .about__link3{
        margin-top: 11px;
        margin-left: 367px;
    }

    /*------------------- CONTENT ---------------------*/

    .content__block {
        margin-top: 70px;
        margin-left: 17px;
        width: 300px;
        height: 285px;
    }
    .content__block__box {
        margin-top: 0px;
        margin-left: 28px;
        width: 415px;
        height: 270px;
    }
    .content__block__box__name {
        float: left;
        display: inline-block;
        height: 34px;
        padding-top: 23px;
        margin-left: 15px;
        font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    }
    .content__block__box__secondname {
        float: left;
        display: inline-block;
        height: 34px;
        margin-top: 24px;
        margin-left: 4px;
        font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
    }
    .content__block__box__text {
        margin-top: 16px;
        padding-top: 13px;
        margin-left: 38px;
        width: 353px;
        height: 170px;
        overflow: hidden;
    }
    .select {
        margin-top: 10px;
        margin-left: 204px;
        width: 100px;
        height: 19px;
    }

    /*------------------------ UPDATES ---------------------*/

    .updates {
        margin-top: 44px;
        margin-left: 83px;
    }
    .updates__item {
        margin-top: 15px;
        margin-left: 1px;
        width: 330px;
        height: 53px;
    }
    .updates__item__last {
        margin-top: 13px;
        margin-left: 1px;
        width: 330px;
        height: 53px;
    }
    .updates__item__name {
        width: 260px;
        height: 23px;
        overflow: hidden;
    }
    .updates__item__text {
        width: 254px;
        height: 23px;
        overflow: hidden;
    }
    .updates__more {
        margin-top: 12px;
        margin-left: 250px;
    }

    /*------------------------- SPONSORS ----------------------------*/

    .sponsors{
        height: 232px;
    }
    .logos {
        height: 232px;
    }
    .logo1 {
        margin-top: 37px;
        margin-left: 84px;
        margin-right: 28px;
        width: 69px;
        height: 64px;
    }
    .logo2 {
        margin-top: 37px;
        margin-left: 27px;
        width: 72px;
        height: 64px;
    }
    .logo3 {
        margin-top: 37px;
        margin-right: 15px;
        margin-left: 54px;
        width: 65px;
        height: 65px;
    }
    .logo4 {
        margin-top: 25px;
        margin-right: 16px;
        margin-left: 53px;
        width: 66px;
        height: 65px;
    }
    .logo5 {
        margin-top: 27px;
        margin-right: 23px;
        margin-left: 42px;
        width: 105px;
        height: 61px;
    }
    .logo6 {
        margin-top: 27px;
        margin-right: 17px;
        margin-left: 19px;
        width: 90px;
        height: 61px;
    }

    /*--------------------------- PREFOOTER ------------------------------*/

    .prefooter {
        display: block;
        float: left;
        margin: 0 auto;
        height: 668px;
        width: 100%;
        border-top: 1px solid #d8d8d8;
        background-color: #ececec;
    }
    .category {
        margin: 0 auto;
        margin-top: 76px;
        margin-left: 18px;
        width: 465px;
        height: 138px;
    }
    .category__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category1__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category2__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category__data1 {
        display: none;
    }
    .category__data2 {
        display: none;
    }
    .category1__title1 {
        display: none;
    }
    .category__text {
        display: block;
        margin-top: 10px;
        margin-left: 1px;
        width: 442px;
        height: 96px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #787878;
        font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
        font-weight: 300;
        letter-spacing: -0.08px;
        line-height: 1.5;
        overflow: hidden;
    }
    .category1 {
        margin: 0 auto;
        margin-top: 47px;
        margin-left: 18px;
        width: 465px;
        height: 138px;
    }
    .category2 {
        margin: 0 auto;
        margin-top: 50px;
        margin-left: 18px;
        width: 465px;
        height: 138px;
    }
    /*---------------------------- FOOTER ----------------------------------*/

    .footerlist {
        display: block;
        width: 460px;
        height: 32px;
        margin-top: 39px;
        margin-left: 22px;
    }
    .footermenu {
        float: left;
        width: 460px;
        height: 32px;
        overflow: hidden;
    }
    .footermenu__item {
        display: inline-block;
        margin-right: 21px;
        text-align: center;
        list-style-type: none;
    }
    .footermenu__link {
        color: white;
        font: 20px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        font-weight: 400;
        line-height: 34px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footermenu__link:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    .copyrights {
        margin-top: 29px;
        margin-left: 170px;
        width: 140px;
        height: 20px;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .wrapper {
        margin: 0 auto;
        max-width: 768px;
    }

        /*-------------------- HEADER -----------------------*/

    .header {
        height: 798px;
    }
    .shadow {
        position: absolute;
        margin-top: 244px;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 0;
    }
    .logo {
        margin-left: 11px;
        margin-top: 70px;
        width: 158px;
        height: 39px;
        background-image: url(../img/pingbuller_logo_768.png);
    }

    .Home {
        position: absolute;
        float: left;
        margin-left: 6px;
        margin-top: 31px;
        width: 660px;
        height: 34px;
        overflow: hidden;
        z-index: 2;
    }
    .home__button {
        float: left;
        display: block;
        width: 47px;
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .home__button:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        padding-bottom: 2px;
        border-bottom: 2px solid #edbfff;
    }
    .home__topmenu {
        float: left;
    }
    .home__topmenu__item{
        float: left;
        margin-left: 45px;
        margin-right: 7px;
        display: inline-block;
        list-style-type: none;
        text-decoration: none;
    }
    .home__topmenu__itemlast {
        float: left;
        margin-left: 40px;
        display: inline-block;
        list-style-type: none;
    }
    .home__topmenu__link {
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: none;
    }
    .home__topmenu__link:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        padding-bottom: 2px;
        border-bottom: 2px solid #edbfff;
    }
    .home__topmenu__linklast:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        padding-bottom: 2px;
        border-bottom: 2px solid #edbfff;
    }
    .home__topmenu__linklast {
        color: white;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        text-transform: uppercase;
        text-decoration: none;
    }
    .iphone {
        position: absolute;
        display: block;
        width: 274px;
        height: 434px;
        margin-left: 439px;
        margin-top: 112px;
        background: url(../img/Phone768.png) 0 0 no-repeat;
        z-index: 1;
    }
    .selectpoint {
        margin-top: 572px;
        margin-left: 534px;
    }
    .slider__block {
        position: absolute;
        margin: 0 auto;
        margin-top: 227px;
        margin-left: 35px;
        width: 273px;
        z-index: 1;
    }
    .slider__bigtext{
        width: 242px;
        height: 60px;
        font: 48px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        letter-spacing: -0.34px;
        overflow: hidden;
    }
    .slider__minitext{
        margin-top: -1px;
        width: 271px;
        height: 26px;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        letter-spacing: 0px;
        overflow: hidden;
    }
    .text {
        display: block;
        margin-top: 7px;
        margin-left: -1px;
        width: 274px;
        height: 117px;
        color: white;
        font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: -0.05px;
        overflow: hidden;
        z-index: 1;
    }
    .leftarrow {
        margin-top: 314px;
        margin-left: -3px;
        z-index: 1;
    }
    .rightarrow {
        margin-top: 314px;
        margin-left: 727px;
        z-index: 1;
    }

    /*-------------------- ABOUT-SECTION ----------------------*/

    .about-section{
        height: 340px;
    }
    .about--key{
        display: inline-block;
        margin-top: 77px;
        margin-left: 22px;
    }
    .about__block1{
        float: left;
        width: 210px;
        height: 200px;
        margin-top: 0px;
        overflow: hidden;
    }
    .about__block2{
        float: left;
        width: 210px;
        height: 200px;
        margin-left: 42px;
        margin-top: 0px;
        overflow: hidden;
    }
    .about__block3{
        float: left;
        width: 210px;
        height: 200px;
        margin-top: 0px;
        margin-left: 51px;
        overflow: hidden;
    }
    .news__key{
        margin-top: 1px;
    }
    .about__text{
        width: 165px;
        height: 144px;
        overflow: hidden;
    }
    .about__link{
        margin-top: 6px;
        margin-left: 143px;
    }
    .about__link2{
        margin-top: 6px;
        margin-left: 143px;
    }
    .about__link3{
        margin-top: 6px;
        margin-left: 143px;
    }

    /*------------------- CONTENT ---------------------*/

    .content {
        height: 486px;
    }
    .content__block {
        float: left;
        margin-top: 93px;
        margin-left: 12px;
        width: 340px;
        height: 299px;
        overflow: hidden;
    }
    .content__block__photo {
        margin-top: 1px;
        margin-left: 0px;
        margin-top: 25px;
    }
    .content__block__box {
        margin-top: 11px;
        margin-left: 23px;
        width: 313px;
        height: 268px;
    }
    .content__block__box__name {
        padding-top: 22px;
        margin-left: 39px;
    }
    .content__block__box__secondname {
        margin-top: 0px;
        margin-left: 39px;
    }
    .content__block__box__text {
        margin-top: 11px;
        margin-left: 39px;
        width: 249px;
        height: 144px;
    }
    .select {
        position: absolute;
        margin-top: 395px;
        margin-left: 149px;
        width: 100px;
        height: 19px;
    }

    /*------------------------ UPDATES ---------------------*/

    .updates {
        float: left;
        margin-top: 126px;
        margin-left: 54px;
        overflow: hidden;
    }
    .updates__name {
        width: 140px;
        height: 35px;
    }
    .updates__item {
        margin-top: 16px;
        margin-left: 1px;
        width: 330px;
        height: 50px;
    }
    .updates__item__last {
        margin-top: 17px;
        margin-left: 1px;
        width: 330px;
        height: 50px;
    }
    .updates__item__name {
        width: 260px;
        height: 23px;
    }
    .updates__item__text {
        width: 260px;
        height: 23px;
        margin-top: 1px;
    }
    .updates__more {
        margin-top: 14px;
        margin-left: 239px;
    }

    /*------------------------- SPONSORS ----------------------------*/

    .sponsors{
        height: 120px;
    }
    .logos {
        height: 120px;
    }
    .logo1 {
        margin-top: 26px;
        margin-left: 14px;
        margin-right: 28px;
        width: 69px;
        height: 64px;
    }
    .logo2 {
        margin-top: 26px;
        margin-left: 27px;
        width: 72px;
        height: 64px;
    }
    .logo3 {
        margin-top: 26px;
        margin-right: 15px;
        margin-left: 54px;
        width: 65px;
        height: 65px;
    }
    .logo4 {
        margin-top: 26px;
        margin-right: 16px;
        margin-left: 34px;
        width: 66px;
        height: 65px;
    }
    .logo5 {
        margin-top: 28px;
        margin-right: 23px;
        margin-left: 42px;
        width: 105px;
        height: 61px;
    }
    .logo6 {
        margin-top: 28px;
        margin-right: 0;
        margin-left: 19px;
        width: 90px;
        height: 61px;
    }

    /*--------------------------- PREFOOTER ------------------------------*/

    .prefooter {
        display: block;
        float: left;
        margin: 0 auto;
        height: 396px;
        width: 100%;
        border-top: 1px solid #d8d8d8;
        background-color: #ececec;
    }
    .category {
        float: left;
        margin: 0 auto;
        margin-top: 98px;
        margin-left: 11px;
        width: 210px;
        height: 206px;
        overflow: hidden;
    }
    .category1 {
        float: left;
        margin: 0 auto;
        margin-top: 98px;
        margin-left: 56px;
        width: 210px;
        height: 206px;
        overflow: hidden;
    }
    .category2 {
        float: left;
        margin: 0 auto;
        margin-top: 98px;
        margin-left: 53px;
        width: 210px;
        height: 206px;
        overflow: hidden;
    }
    .category__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category1__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category2__title {
        display: block;
        width: 121px;
        height: 26px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #454545;
        font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        text-transform: uppercase;
        overflow: hidden;
    }
    .category__data1 {
        display: none;
    }
    .category__data2 {
        display: none;
    }
    .category1__title1 {
        display: none;
    }
    .category__text {
        display: block;
        margin-top: 10px;
        margin-left: 1px;
        width: 207px;
        height: 168px;
        text-shadow: 0.5px 0.9px 0 white;
        color: #787878;
        font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
        font-weight: 300;
        letter-spacing: -0.08px;
        line-height: 1.5;
        overflow: hidden;
    }

    /*---------------------------- FOOTER ----------------------------------*/

    .footerlist {
        width: 530px;
        height: 32px;
        margin-top: 39px;
        margin-left: 11px;
    }
    .footermenu {
        width: 565px;
        height: 32px;
    }
    .footermenu__item {
        display: inline-block;
        margin-right: 39px;
        text-align: center;
        list-style-type: none;
    }
    .footermenu__link {
        color: white;
        font: 20px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        font-weight: 400;
        line-height: 34px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footermenu__link:hover {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    .copyrights {
        margin-top: 29px;
        margin-left: 598px;
        width: 140px;
        height: 20px;
    }

}
@media (min-width: 960px) {
    .wrapper {
        margin: 0 auto;
        height: 100%;
        max-width: 960px;
    }
    .shadow {
        position: absolute;
        margin-top: 278px;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 0;
    }

        /*-------------------- HEADER -----------------------*/

        .header {
            height: 846px;
        }
        .logo {
            float: left;
            margin-left: 0px;
            margin-top: 70px;
            width: 158px;
            height: 39px;
            background-image: url(../img/pingbuller_logo.png);
            overflow: hidden;
        }

        .Home {
            float: left;
            margin-left: 151px;
            margin-top: 71px;
            width: 636px;
            height: 34px;
            overflow: hidden;
            z-index: 2;
        }
        .home__button {
            float: left;
            display: block;
            width: 47px;
            color: white;
            font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
        .home__button:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            padding-bottom: 2px;
            border-bottom: 2px solid #edbfff;
        }
        .home__topmenu {
            float: left;
            margin-left: 4px;
        }
        .home__topmenu__item{
            float: left;
            margin-left: 42px;
            margin-right: 10px;
            display: inline-block;
            list-style-type: none;
            text-decoration: none;
        }
        .home__topmenu__itemlast {
            float: left;
            margin-left: 40px;
            display: inline-block;
            list-style-type: none;
        }
        .home__topmenu__link {
            color: white;
            font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
            text-decoration: none;
            text-transform: uppercase;
            text-decoration: none;
        }
        .home__topmenu__link:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            padding-bottom: 2px;
            border-bottom: 2px solid #edbfff;
        }
        .home__topmenu__linklast:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            padding-bottom: 2px;
            border-bottom: 2px solid #edbfff;
        }
        .home__topmenu__linklast {
            color: white;
            font: 24px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
            text-decoration: none;
            text-transform: uppercase;
            text-decoration: none;
        }
        .iphone {
            position: absolute;
            display: block;
            width: 274px;
            height: 434px;
            margin-left: 607px;
            margin-top: 261px;
            background: url(../img/Phone768.png) 0 0 no-repeat;
            z-index: 1;
        }
        .slider__block {
            position: absolute;
            margin: 0 auto;
            margin-top: 350px;
            margin-left: 66px;
            width: 504px;
            z-index: 1;
        }
        .slider__bigtext{
            width: 303px;
            height: 68px;
            font: 60px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.65px;
            overflow: hidden;
        }
        .slider__minitext{
            margin-top: -6px;
            width: 410px;
            height: 36px;
            font: 32px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.06px;
            overflow: hidden;
        }
        .text {
            display: block;
            margin-top: 5px;
            margin-left: -1px;
            width: 504px;
            height: 168px;
            color: white;
            font: 18px 'Open Sans', Arial, Tahoma, sans-serif;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: -0.05px;
            overflow: hidden;
            z-index: 1;
        }
        .leftarrow {
            position: absolute;
            margin-top: 456px;
            margin-left: -3px;
            z-index: 1;
        }
        .rightarrow {
            position: absolute;
            margin-top: 456px;
            margin-left: 918px;
            z-index: 1;
        }
        .selectpoint {
            position: absolute;
            margin-top: 771px;
            margin-left: 702px;
        }

        /*-------------------- ABOUT-SECTION ----------------------*/

        .about-section{
            height: 340px;
        }
        .about--key{
            margin-top: 76px;
            margin-left: 8px;
        }
        .about__block1{
            float: left;
            margin-top: 1px;
            margin-left: -7px;
            overflow: hidden;
        }
        .about__block2{
            float: left;
            margin-top: 0px;
            margin-left: 62px;
            overflow: hidden;
        }
        .about__block3{
            float: left;
            margin-top: 0px;
            margin-left: 50px;
            overflow: hidden;
        }
        .about__sprite1{
            display: block;
            margin-top: 5px;
            float: left;
            width: 30px;
            height: 31px;
            background: url(../img/sprite_key.png) 0 0 no-repeat;
        }
        .about__sprite1:hover{
            background-position: -31px;
        }
        .news__key2{
            display: block;
            margin-top: 9px;
            float: left;
            width: 29px;
            height: 24px;
            background: url(../img/sprite_message.png) 0 0 no-repeat;
        }
        .news__key2:hover{
            background-position: 0 -25px;
        }
        .news__key3{
            display: block;
            margin-top: 6px;
            float: left;
            width: 29px;
            height: 31px;
            background: url(../img/sprite_music.png) 0 0 no-repeat;
        }
        .news__key3:hover{
            background-position: 0 -32px;
        }
        .about__title{
            display: block;
            margin-left: 54px;
            margin-top: -4px;
            width: 176px;
            height: 35px;
            text-shadow: 0.5px 0.9px 0 #0f1518;
            color: white;
            font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.1px;
        }
        .about__text{
            display: block;
            margin-top: 6px;
            margin-left: 53px;
            width: 224px;
            height: 126px;
            text-shadow: 0.5px 0.9px 0 #0f1518;
            color: white;
            font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
            font-weight: 300;
            line-height: 24.5px;
            letter-spacing: -0.08px;
            overflow: hidden;
        }
        .about__link{
            display: block;
            margin-top: 11px;
            margin-left: 214px;
            text-decoration: none;
            width: 60px;
            height: 20px;
            text-shadow: 0.5px 0.9px 0 #0f1518;
            color: white;
            font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.1px;
        }
        .about__link2{
            display: block;
            margin-top: 13px;
            margin-left: 217px;
            text-decoration: none;
            width: 60px;
            height: 20px;
            text-shadow: 0.5px 0.9px 0 #0f1518;
            color: white;
            font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.1px;
        }
        .about__link3{
            display: block;
            margin-top: 12px;
            margin-left: 217px;
            text-decoration: none;
            width: 60px;
            height: 20px;
            text-shadow: 0.5px 0.9px 0 #0f1518;
            color: white;
            font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            letter-spacing: -0.1px;
        }


        /*------------------- CONTENT ---------------------*/

        .content {
            height: 486px;
        }
        .content__block {
            float: left;
            margin-top: 84px;
            margin-left: -11px;
            width: 460px;
            height: 297px;
            overflow: hidden;
        }
        .content__block__photo {
            margin-top: 1px;
            margin-left: 10px;
            margin-top: 33px;
        }
        .content__block__box {
            margin-top: 15px;
            margin-left: 26px;
            width: 427px;
            height: 272px;
        }
        .content__block__box__name {
            float: left;
            display: inline-block;
            height: 34px;
            padding-top: 25px;
            margin-left: 6px;
            font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        }
        .content__block__box__secondname {
            float: left;
            display: inline-block;
            height: 34px;
            margin-top: 25px;
            margin-left: 4px;
            font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
        }
        .content__block__box__text {
            margin-top: 3px;
            padding-top: 9px;
            margin-left: 39px;
            width: 363px;
            height: 170px;
            overflow: hidden;
        }
        .select {
            position: absolute;
            margin-top: 394px;
            margin-left: 186px;
            width: 100px;
            height: 19px;
        }

        /*------------------------ UPDATES ---------------------*/

        .updates {
            float: left;
            margin-top: 125px;
            margin-left: 52px;
            overflow: hidden;
        }
        .updates__name {
            width: 140px;
            height: 35px;
        }
        .updates__item {
            margin-top: 16px;
            margin-left: 1px;
            width: 440px;
            height: 50px;
        }
        .updates__item__last {
            margin-top: 14px;
            margin-left: 1px;
            width: 440px;
            height: 50px;
        }
        .updates__item__name {
            width: 260px;
            height: 23px;
        }
        .updates__item__text {
            width: 370px;
            height: 23px;
            margin-top: 1px;
        }
        .updates__more {
            display: none;
        }
        .updates__more1 {
            display: block;
            margin-top: 17px;
            margin-left: 347px;
            text-decoration: none;
            width: 90px;
            height: 20px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #454545;
            font: 18px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            font-weight: 400;
            line-height: 24px;
        }

        /*------------------------- SPONSORS ----------------------------*/

            .sponsors{
                height: 120px;
            }
            .logos {
                height: 120px;
            }
            .logo1 {
                margin-top: 24px;
                margin-left: 85px;
                margin-right: 28px;
                width: 69px;
                height: 64px;
            }
            .logo2 {
                margin-top: 24px;
                margin-left: 37px;
                width: 72px;
                height: 64px;
            }
            .logo3 {
                margin-top: 24px;
                margin-right: 15px;
                margin-left: 64px;
                width: 65px;
                height: 65px;
            }
            .logo4 {
                margin-top: 24px;
                margin-right: 16px;
                margin-left: 44px;
                width: 66px;
                height: 65px;
            }
            .logo5 {
                margin-top: 26px;
                margin-right: 23px;
                margin-left: 52px;
                width: 105px;
                height: 61px;
            }
            .logo6 {
                margin-top: 26px;
                margin-right: 0;
                margin-left: 29px;
                width: 90px;
                height: 61px;
            }

        /*--------------------------- PREFOOTER ------------------------------*/

        .prefooter {
            display: block;
            float: left;
            margin: 0 auto;
            height: 396px;
            width: 100%;
            border-top: 1px solid #d8d8d8;
            background-color: #ececec;
        }
        .category {
            float: left;
            margin: 0 auto;
            margin-top: 87px;
            margin-left: 11px;
            width: 280px;
            height: 216px;
            overflow: hidden;
        }
        .category1 {
            float: left;
            margin: 0 auto;
            margin-top: 92px;
            margin-left: 38px;
            width: 280px;
            height: 216px;
            overflow: hidden;
        }
        .category2 {
            float: left;
            margin: 0 auto;
            margin-top: 92px;
            margin-left: 56px;
            width: 280px;
            height: 216px;
            overflow: hidden;
        }
        .category__title {
            display: none;
        }
        .category__data1 {
            display: inline-block;
            width: 180px;
            height: 55px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #454545;
            font: 48px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            overflow: hidden;
        }
        .er {
            display: inline-block;
            padding-top: 0px;
            padding-left: 1px;
            width: 50px;
            height: 46px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #c5c5c5;
            font: 48px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            overflow: hidden;
        }
        .category__data2 {
            display: block;
            width: 250px;
            height: 19px;
            margin-top: 8px;
            margin-bottom: 9px;
            text-shadow: 0.5px 0.9px 0 white;
            color: rgba(185, 185, 185, 0.8);
            font: 16px 'Georgia-Italic', Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            overflow: hidden;
        }
        .category1__title {
            display: none;
        }
        .category1__title1 {
            display: block;
            width: 180px;
            height: 35px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #454545;
            font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            overflow: hidden;
        }
        .category2__title {
            display: block;
            width: 180px;
            height: 35px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #454545;
            font: 30px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            overflow: hidden;
        }
        .category__text {
            display: block;
            margin-top: 6px;
            margin-left: 1px;
            width: 280px;
            height: 168px;
            text-shadow: 0.5px 0.9px 0 white;
            color: #787878;
            font: 16px 'Open Sans', Arial, Tahoma, sans-serif;
            font-weight: 300;
            letter-spacing: -0.08px;
            line-height: 1.5;
            overflow: hidden;
        }

            /*---------------------------- FOOTER ----------------------------------*/

        .footer {
            height: 114px;
        }
        .footerlist {
            float: left;
            width: 534px;
            height: 32px;
            margin-top: 38px;
            margin-left: 1px;
            overflow: hidden;
        }
        .footermenu {
            width: 565px;
            height: 32px;
        }
        .footermenu__item {
            display: inline-block;
            margin-right: 39px;
            text-align: center;
            list-style-type: none;
        }
        .footermenu__link {
            color: white;
            font: 20px 'LeagueGothicRegular', Arial, Tahoma, sans-serif;
            font-weight: 400;
            line-height: 34px;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
        }
        .footermenu__link:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        }

        .copyrights {
            float: right;
            margin-top: 50px;
            margin-right: 1px;
            width: 140px;
            height: 20px;
            overflow: hidden;
        }
}
